# Backend
PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here_change_in_production

# Blockchain
CONTRACT_ADDRESS=0x5FbDB2315678afccb333f8a9c45b65d30061ddb08
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb476c6b8d6c1f02960247590a583
RPC_URL=http://localhost:8545

# Admin Credentials
ADMIN_EMAIL=admin@dcvs.com
ADMIN_PASSWORD=admin123
